body {
    margin-top: 150px;
    margin-left: 550px;
    padding: 10px;
    font-family: Arial, Helvetica. sans-serif;
    background-image: url('https://rsaude.com.br/img/noticias/g/alimentacao-x-atividade-fisica-28092018085258.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

#body-content {
    margin-left: 350px;
}
#paragraph-result {
    margin-top: 30px;
}

input {
    margin-top: 5px;
    width: 200px;
}

#button-calculate-imc {
    width: 208px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 15px;
}

#button-calculate-imc:hover {
    color: white;
    background-color: black;
}